body {
  background: #fff;
  margin: 0;
  padding: 0;
  }

.signUp, .signIn {
  border: 0;
  padding: 0;
  margin: 0;
  }

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  max-width: 1200px;
  width: 100%;
  }

  .loginForm, .register {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    height: auto;
    max-width: 550px;
    padding: 40px 15px;
    text-align: center;
    width: 100%;
  }

  .loginForm h1{
    font-family: 'bold';
    font-size: 2.5rem;
    color: #2f2f2f;

  }

  .loginForm span{
    font-family: 'regular';
    font-size: 1.5rem;
    color: #2f2f2f;
  }

  .socialMediaButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .icon{
    font-size: 50px;
    cursor: pointer;
    margin-right: 10px;
    border: 50px
  }

  .signInAlt{
    color:#4d61fc;
    font-size: 45px;
    margin-bottom: 10px;
  }

  .arrowRight {
    color: white;
    font-size: 1.3em;
    line-height: 12px;
    margin: 0 0 0 10px;
  }

  .controlButton{
    align-items: center;  
    background:  #4d61fc;
    border-radius: 4px;
    border: 0;
    color: white;
    cursor: pointer;
    display: flex;
    margin-top: 20px;
    padding: 15px 35px;
    transition: .2s;
    font-family: 'bold';
    font-size: 1.5rem;
  }

  .controlButton:hover{
    background: #2036de;
    transform: translateY(-2px);
  }

  .forgotPassword{
    margin: 0;
    margin-right: -180px;
    font-family: 'regular';
    font-size: 1.5rem;
    text-decoration: underline #2036de;
    cursor: pointer;
  }

  .signIn input[type=email], .signIn input[type=password],
  .signUp input[type=email], .signUp input[type=password]{
    width: 100%;
    border-radius: 4px;
    border: 0;
    height: 45px;
    margin: 10px 0;
    margin-bottom: 20px;
    background: #f1f1f1 no-repeat;
    transition: 100ms all linear 0s;
    font-family: 'regular';
    font-size: 1.5rem;
    text-align: center;
    background-image: linear-gradient( 109.6deg,  rgba(116,18,203,1) 11.2%, rgba(230,46,131,1) 91.2% );
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  }

  .signIn input[type=email]:focus,
  .signIn input[type=password]:focus,
  .signUp input[type=email]:focus,
  .signUp input[type=password]:focus{
      background-size: 100% 2px, 100% 1px;
      outline: none;
  }

  .iconUser, .iconKey,
  .iconEnvelope, .iconLock{
    position: relative;
    font-size: 1.3em;
    z-index: 1;
    left: 240px;
    top: -60px;
    right: 35px;
    color: #4d61fc;

  }

  .iconUserCircle{
    color: white;
    font-size: 2em;
  }

  .register{
    background-image: linear-gradient( 109.6deg,  rgba(116,18,203,1) 11.2%, rgba(230,46,131,1) 91.2% );
  }

  .register h1{
    font-family: 'bold';
    font-size: 2.5rem;
    color: white;
  }

  .formButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .buttonForm{
    cursor: pointer;
    background: white;
    color: #555;
    font-family: 'bold';
    font-size: 1.3em;
    margin-bottom: 30px;
    border-radius: 4px;
    border: none;
  }

  .buttonForm:hover {
    background: #d5d7de;
  }

  .iconArrowRight{
    color: #555;
    margin-top: 3px;
  }

  .createAccount{
    color: white;
    font-family: 'regular';
    font-size: 1.3em;
    border-top: 1px solid #e2e2e2;
    padding-top: 30px;
  }
  

  .socialMedia{
    color: white;
    font-size: 40px;
    padding: 10px 80px;
  }

  .socialIcon{
    margin: 0 5px;
  }

  .button{
    font-family: 'bold';
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 5px;
  }

  .messagesArea {
    width: 400px;
  }
  
  .successCard, .errorCard {
    font-family: 'bold';
    color: white;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
  }
  
  .successCard {
    background-color: #0db4b9;
  }
  
  .successCard a {
    text-decoration: none;
    color: #fff;
  }
  
  .successCard a:hover {
    color: #ccc;
  }
  
  .errorCard {
    background-color: #d91e18;
  }